@media (max-width: 899px) {
    .reviewsTitle {
        font-size: 1rem;
    }

    /* .averageRatingText {
        font-size: 14px;
      
    } */
    .reviewText {
        font-size: 15px;
    }
    .reviews h6 {
        font-size: 1px;
    }

    .reviewButton {
        width: 123px;
        font-size: 12px;
    }
}