/* .img {
    margin-right: 1000px
} */

/* @media (min-width: 900px) and (max-width: 1057px){
    .heading {
        font-size: 36px;
    }
} */

@media (900px <= width <= 953px) {
    .heading {
        font-size: 31px;
    }
  }
@media (954px <= width <= 1057px) {
    .heading {
        font-size: 36px;
    }
  }