.SearchIconWrapper {
    padding: 0 15px;
    height: 100%;
    position: absolute;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
  }