.section-padding {
  margin: 100px 0;
}
.MuiAccordionSummary-content.Mui-expanded {
  margin: 0;
}
a {
  text-decoration: none;
  color: rgba(24, 20, 20, 0.56);
}
li.MuiBreadcrumbs-li a {
  color: #fff;
}
