.product_details_sec_wrapper {
    width: 1100px;
    margin: auto;
    padding: 50px;
    font-family: "Rubik";
    background: #FFFFFF;
    box-shadow: -5px 4px 11px 2px rgba(0, 0, 0, 0.16);
    border-radius: 3px;
}

.product_details_sec {

    display: flex;
    justify-content: space-between;

}

.card_btn {
    background: #3C1FF4;
    border: none;
    color: white;
    width: 277px;
    height: 36px;
    left: 894px;
    top: 694px;
    cursor: pointer;
}

.input_box {
    border: none;
    margin-right: 7px;
    width: 92px;
    height: 35px;
    text-align: center;
    left: 792px;
    font-weight: bold;
    top: 694px;
    background: rgba(217, 217, 217, 0.8);
}

.product_image_section {
    display: flex;
    margin-right: 73px;
    width: 70%;
}

.product_details_note {
    margin-top: 20px;
}

.product_details_note p {
    font-size: 13px;
}

.product_full_dec{
    position: relative;
}

.social_icon {
    position: absolute;
    top: 0;
    right: 0;
}
.product_gallery{
    cursor: pointer;
}

/* .view_image img{
    width: 500px;
    height: 300px;
} */